---
layout: default
banner: on
---

{% capture apropos %}
{% include textes/a-propos.md %} 
{% endcapture %}

{% capture naturopathie %}
{% include textes/naturopathie.md %} 
{% endcapture %}

{% capture entreptrise %}
{% include textes/entreprise.md %} 
{% endcapture %}

<article id="main">

	<header class="special container" style="text-align: left;">
		<span class="icon fa-pagelines"></span>
		{{ apropos | markdownify }}
	</header>
					
	<section class="wrapper style2 container special-alt">
		<div class="row half">
			<div class="12u">
				{{ naturopathie | markdownify }}
				<ul class="buttons">
					<li><a href="/naturopathie" class="button" title="En savoir plus sur la naturopathie&hellip;">En savoir plus&hellip;</a></li>
				</ul>
			</div>
		</div>
	</section>

	<section class="wrapper style1 container special">
		<div class="row">
			<div class="4u" style="cursor:pointer" onclick="location.href='/consulter-un-naturopathe'">
				<section>
					<span class="icon featured fa-user"></span>
					<header>
						<h3><a href="/consulter-un-naturopathe">Consultations</a></h3>
					</header>
					<p>Découvrez le déroulement d'une consultation de naturopathie&nbsp;: Première consultation, Consultation de suivi ou Forfait&hellip;</p>
				</section>
			</div>
			<div class="4u" style="cursor:pointer" onclick="location.href='/consulter-un-naturopathe#massages-bien-être--reflexo'">
				<section>
					<span class="icon featured fa-leaf"></span>
					<header>
						<h3><a href="/consulter-un-naturopathe#massages-bien-être--reflexo">Massages / Réfléxologie</a></h3>
					</header>
					<p>Prendre un moment pour soi, se reconnecter à son corps et prendre soin de lui&hellip;</p>
				</section>
			</div>
			<div class="4u" style="cursor:pointer" onclick="location.href='/naturopathe-en-entreprise'">
				<section>
					<span class="icon featured fa-users"></span>
					<header>
						<h3><a href="/naturopathe-en-entreprise">Interventions en entreprise</a></h3>
					</header>
					<p>Pour améliorer les performances et atteindre les objectifs, je propose des ateliers, des conférences et des séances de massages&hellip;</p>
				</section>
			
			</div>
		</div>
	</section>

{% comment %}
	<section class="wrapper style3 container special">
	
		<header class="major">
			<h2>Next look at this <strong>cool stuff</strong></h2>
		</header>
		
		<div class="row">
			<div class="6u">
			
				<section>
					<a href="#" class="image featured"><img src="images/pic01.jpg" alt="" /></a>
					<header>
						<h3>A Really Fast Train</h3>
					</header>
					<p>Sed tristique purus vitae volutpat commodo suscipit amet sed nibh. Proin a ullamcorper sed blandit. Sed tristique purus vitae volutpat commodo suscipit ullamcorper sed blandit lorem ipsum dolore.</p>
				</section>

			</div>
			<div class="6u">
			
				<section>
					<a href="#" class="image featured"><img src="images/pic02.jpg" alt="" /></a>
					<header>
						<h3>An Airport Terminal</h3>
					</header>
					<p>Sed tristique purus vitae volutpat commodo suscipit amet sed nibh. Proin a ullamcorper sed blandit. Sed tristique purus vitae volutpat commodo suscipit ullamcorper sed blandit lorem ipsum dolore.</p>
				</section>

			</div>
		</div>
		<div class="row">
			<div class="6u">
			
				<section>
					<a href="#" class="image featured"><img src="images/pic03.jpg" alt="" /></a>
					<header>
						<h3>Hyperspace Travel</h3>
					</header>
					<p>Sed tristique purus vitae volutpat commodo suscipit amet sed nibh. Proin a ullamcorper sed blandit. Sed tristique purus vitae volutpat commodo suscipit ullamcorper sed blandit lorem ipsum dolore.</p>
				</section>

			</div>
			<div class="6u">
			
				<section>
					<a href="#" class="image featured"><img src="images/pic04.jpg" alt="" /></a>
					<header>
						<h3>And Another Train</h3>
					</header>
					<p>Sed tristique purus vitae volutpat commodo suscipit amet sed nibh. Proin a ullamcorper sed blandit. Sed tristique purus vitae volutpat commodo suscipit ullamcorper sed blandit lorem ipsum dolore.</p>
				</section>

			</div>
		</div>

		<footer class="major">
			<ul class="buttons">
				<li><a href="#" class="button">See More</a></li>
			</ul>
		</footer>
	
	</section>
{% endcomment %}

</article>


<!-- CTA -->
<section id="cta">
<header>
	<h2>Vous voulez <strong>en savoir plus</strong>&nbsp;?</h2>
</header>
<footer>
	<ul class="buttons">
		<li><a href="/contact" class="button">Contactez-moi</a></li>
		<li><a href="{{ site.doctolib.link }}" class="button special" title="Prenez rendez-vous pour une consultation de naturopathie en ligne">Rendez-vous en ligne</a></li>
	</ul>
</footer>
</section>

