<!-- Banner -->		
<section id="banner">

    <div class="inner">

        <header>
		<h2>Magali <span style="white-space:nowrap">MÂNE-BILLIET</span></h2>
        </header>
        <p>
		Prévenir et faire de la santé au quotidien, reste la meilleure façon de s'opposer à la maladie.
	</p>
        <footer>
            <ul class="buttons vertical">
                <li><a href="{{ site.doctolib.link }}" class="button fit scrolly">Prenez rendez-vous en ligne</a></li>
            </ul>
        </footer>

    </div>

</section>
