<!-- Banner -->		
<section id="banner">

    <div class="inner">

        <header>
		<h2>Magali <span style="white-space:nowrap">MÂNE-BILLIET</span></h2>
        </header>
        <p>
		Apprendre ou redécouvrir des petits gestes pour améliorer son terrain et garder la forme.<br/>
		Prévenir et faire de la santé au quotidien, reste la meilleure façon de s'opposer à la maladie.
	</p>
        <footer>
            <ul class="buttons vertical">
                <li><a href="https://www.doctolib.fr/naturopathe/paris/magali-billiet?utm_source=magali-billiet-website-button&utm_medium=referral&utm_campaign=website-button&utm_content=custom&utm_term=magali-billiet" class="button fit scrolly">Prenez rendez-vous en ligne</a></li>
            </ul>
        </footer>

    </div>

</section>
