<!-- Footer -->
<footer id="footer">

    <ul class="icons">
        <li><a title="Compte twitter" href="https://twitter.com/33magmag" class="icon circle fa-twitter"><span class="label">Twitter</span></a></li>
        <li><a title="Page Facebook" href="https://www.facebook.com/Magali-Mane-Billiet-Naturopathe-258773195014938" class="icon circle fa-facebook"><span class="label">Facebook</span></a></li>
        <li><a title="Contactez-moi par e-mail" href="mailto:magali@manebilliet.com" class="icon circle fa-envelope-o"><span class="label">Email</span></a></li>
        <li><a title="Contactez-moi par téléphone" href="tel:+33766807176" class="icon circle fa-phone"><span class="label">Téléphone</span></a></li>
        <li><a title="Prenez rendez-vous en ligne" href="{{ site.doctolib.link }}" class="icon circle fa-calendar"><span class="label">Rendez-vous</span></a></li>
    </ul>

</footer>
