<header id="header">
	<h1 id="logo"><a href="/">Naturopathe <span>à Chatou, Paris&hellip;</span></a></h1>
	<nav id="nav">
		<ul>
			<li id="nav-item-home"><a href="/" class="icon fa-home" title="Retour à la page d'accueil"><span class="label">Accueil</span></a></li>
			<li id="nav-item-mabio"><a href="/naturopathe">Bio</a></li>
			<li id="nav-item-2" class="submenu">
				<a href="/naturopathie#">Naturopathie</a>
				<ul style="list-style-type: none;">
					<li><a href="/naturopathie#techniques-utilisees">Techniques utilisées</a></li>
					<li><a href="/naturopathie#les-mutuelles-qui-prennent-en-charge">LES MUTUELLES QUI PRENNENT EN CHARGE</a></li>
					<li><a href="/naturopathie#pourquoi-consulter">POURQUOI CONSULTER ?</a></li>
				</ul>
			</li>
			<li id="nav-item-3" class="submenu">
				<a href="/prestations-de-naturopathie">Prestations</a>
				<ul style="list-style-type: none;">
					<li><a href="/consulter-un-naturopathe#consultations">Consultations</a></li>
					<li><a href="/prestations-de-naturopathie/massages#massages">Massages</a></li>
					<li><a href="/prestations-de-naturopathie/soin-visage-ko-bi-do#soin-visage-ko-bi-do">Soin visage</a></li>
					<li><a href="/prestations-de-naturopathie/reflexologie-plantaire#réflexologie-plantaire">Réflexologie plantaire</a></li>
					<li style="height:8px"></li>
					<li><a href="/actualites">Actualités</a></li>
					<li style="height:8px"></li>
					<li><a href="/naturopathe-en-entreprise">Interventions en entreprises</a></li>
				</ul>
			</li>
			<li id="nav-item-entreprise"><a href="/naturopathe-en-entreprise">Entreprises</a></li>
			<li id="nav-item-stages"><a href="/actualites">Actualités</a></li>
			<li><a href="/blog">Blog</a></li>
			<li><a href="/contact">Contact</a></li>
			<li><a href="{{ site.doctolib.link }}" class="button special icon fa-calendar" title="Prenez rendez-vous en ligne avec Doctolib"> Rendez-vous</a></li>
		</ul>
	</nav>
</header>
