<header id="header">
	<h1 id="logo"><a href="/">Naturopathe <span>à Paris, Chatou&hellip;</span></a></h1>
	<nav id="nav">
		<ul>
			<li><a href="/" class="icon fa-home" title="Retour à la page d'accueil"><span class="label">Accueil</span></a></li>
			<li class="submenu">
				<a href="/naturopathie.html#">La Naturopathie</a>
				<ul>
					<li><a href="/naturopathie.html#techniques-utilisees">Techniques utilisées</a></li>
					<li><a href="/naturopathie.html#les-mutuelles-qui-prennent-en-charge">LES MUTUELLES QUI PRENNENT EN CHARGE</a></li>
					<li><a href="/naturopathie.html#pourquoi-consulter">POURQUOI CONSULTER ?</a></li>
				</ul>
			</li>
			<li><a href="/blog.html">Blog</a></li>
			<li><a href="/contact.html">Contact</a></li>
			<li><a href="https://www.doctolib.fr/naturopathe/paris/magali-billiet?utm_source=magali-billiet-website-button&utm_medium=referral&utm_campaign=website-button&utm_content=custom&utm_term=magali-billiet" class="button special icon fa-calendar" title="Prenez rendez-vous en ligne avec Doctolib">&nbsp;Prenez rendez-vous</a></li>
		</ul>
	</nav>
</header>
