<header id="header">
	<h1 id="logo"><a href="/">Naturopathe <span>à Paris, Chatou&hellip;</span></a></h1>
	<nav id="nav">
		<ul>
			<li><a href="/" class="icon fa-home" title="Retour à la page d'accueil"><span class="label">Accueil</span></a></li>
			<li class="submenu">
				<a href="/naturopathie#">La Naturopathie</a>
				<ul>
					<li><a href="/naturopathie#techniques-utilisees">Techniques utilisées</a></li>
					<li><a href="/naturopathie#les-mutuelles-qui-prennent-en-charge">LES MUTUELLES QUI PRENNENT EN CHARGE</a></li>
					<li><a href="/naturopathie#pourquoi-consulter">POURQUOI CONSULTER ?</a></li>
				</ul>
			</li>
			<li><a href="/blog">Blog</a></li>
			<li><a href="/contact">Contact</a></li>
			<li><a href="{{ site.doctolib.link }}" class="button special icon fa-calendar" title="Prenez rendez-vous en ligne avec Doctolib">&nbsp;Prenez rendez-vous</a></li>
		</ul>
	</nav>
</header>
