<section class="wrapper style1 container special">
  <div class="row">
    <div class="1u">&nbsp;</div>
    <div class="3u" style="cursor:pointer" onclick="location.href='/consulter-un-naturopathe#consultations'">
      <section>
        <img src="/images/prestations/consultations.jpg" width="100%" />
        <header>
          <h3><a href="/consulter-un-naturopathe#consultations">Consultations</a></h3>
        </header>
        <p></p>
      </section>
    </div>
    <div class="3u" style="cursor:pointer" onclick="location.href='/prestations-de-naturopathie/gestion-du-stress-forfaits#forfaits'">
      <section>
        <img src="/images/prestations/forfait-projet.jpg" width="100%" />
        <header>
          <h3><a href="/prestations-de-naturopathie/gestion-du-stress-forfaits#forfaits">Forfaits</a></h3>
        </header>
        <p></p>
      </section>
    </div>
    <div class="3u" style="cursor:pointer" onclick="location.href='/prestations-de-naturopathie/massages#massages'">
      <section>
        <img src="/images/prestations/massages.jpg" width="100%" />
        <header>
          <h3><a href="/prestations-de-naturopathie/massages#massages">Massages</a></h3>
        </header>
        <p></p>
      </section>
    </div>
    <div class="3u">&nbsp;</div>
    <div class="3u" style="cursor:pointer" onclick="location.href='/prestations-de-naturopathie/soin-visage-ko-bi-do#soin-visage-ko-bi-do'">
      <section>
        <img src="/images/prestations/massage-visage.jpg" width="100%" />
        <header>
          <h3><a href="/prestations-de-naturopathie/soin-visage-ko-bi-do#soin-visage-ko-bi-do">Soin visage</a></h3>
        </header>
        <p></p>
      </section>
    </div>
    <div class="3u" style="cursor:pointer" onclick="location.href='/prestations-de-naturopathie/reflexologie-plantaire#réflexologie-plantaire'">
      <section>
        <img src="/images/prestations/reflexologie.jpg" width="100%" />
        <header>
          <h3><a href="/prestations-de-naturopathie/reflexologie-plantaire#réflexologie-plantaire">Réfléxologie</a></h3>
        </header>
        <p></p>
      </section>
    </div>
  </div>
</section>
