<section class="wrapper style1 container special">
  <div class="row">
    <div class="4u">
        <a href="/consulter-un-naturopathe#consultations" style="border-bottom: 0;">
          <img src="/images/prestations/consultations.jpg" width="100%" alt="Consulations, Bilan de vitalité" />
        </a>
    </div>
    <div class="4u">
        <a href="/prestations-de-naturopathie/gestion-du-stress-forfaits#forfaits" style="border-bottom: 0;">
          <img src="/images/prestations/forfait-projet.jpg" width="100%" alt="Forfaits, Projets" />
        </a>
    </div>
    <div class="4u">
        <a href="/prestations-de-naturopathie/massages#massages" style="border-bottom: 0;">
          <img src="/images/prestations/massages.jpg" width="100%" alt="Massages bien-être" />
        </a>
    </div>
  </div>
  <div class="row">
    <div class="2u">&nbsp;</div>
    <div class="4u">
        <a href="/prestations-de-naturopathie/soin-visage-ko-bi-do#soin-visage-ko-bi-do" style="border-bottom: 0;">
          <img src="/images/prestations/massage-visage.jpg" width="100%" alt="Soin visage, Ko bi do" />
        </a>
    </div>
    <div class="4u">
        <a href="/prestations-de-naturopathie/reflexologie-plantaire#réflexologie-plantaire" style="border-bottom: 0;">
          <img src="/images/prestations/reflexologie.jpg" width="100%" alt="Réfléxologie plantaire" />
        </a>
    </div>
  </div>
</section>
